%div{:id =>"confirm_dialog", "data-role"=>"dialog"}
  %header{"data-role" => "header"}
    %h1 Attention
  %div{"data-role" => "content"}
    %h1 Are you sure?
    %p All stored data will be deleted.
    = link_to "Delete", truncate_path, "data-role" => "button","rel" => "external", "data-theme" => "b"
    = link_to "Cancel", "/", "data-role" => "button", "rel" => "external", "data-theme" => "c" 
