%div{:id =>"confirm_dialog", "data-role"=>"dialog"}
  %header{"data-role" => "header"}
    %h1 Attention
  %div{"data-role" => "content"}
    %h1 Are you sure?
    %p All stored data will be deleted.
    = link_to "Yes,I'm sure.", truncate_path, "data-role" => "button", "rel" => "external", "data-theme" => "b"
