%div{:id => "main", "data-role" => "content"}
  %article{"data-role" => "content"}
    %p
      = nowDateTime
    - if @tikkoks.size > 0
      - @tikkoks.each do |t|
        %div{"data-role" => "collapsible", "data-collapsed" => "true"}
          %h1 #{t.title}
          %h2
            =h mailencToUtf8(t.body, t.encoding)
          %p #{t.created_at.strftime("%Y-%m-%d %H:%M")}
      #truncateLink
        = link_to "Delete All", confirm_path, "data-rel" => "dialog", "data-transition" => "pop"
    - else
      %div{"data-role" => "collapsible", "data-collapsed" => "true", "data-theme" => "b"}
        %h1 No one get any accident.
        %h2 Laugh :D
