%div{:id => "footer", "data-role" => "footer"}
  .footer-text
    Powered by 
    = link_to "jQuery mobile", "http://jquerymobile.com/"
    , 
    = link_to "cloudmailin", "http://cloudmailin.com/"
    , and 
    = link_to "Heroku", "http://heroku.com"
