%div{:id => "footer", "data-role" => "footer"}
  .footer-text
    Powered by 
    = link_to "jQuery mobile", "http://jquerymobile.com/",{:target => "_blank"}
    , 
    = link_to "cloudmailin", "http://cloudmailin.com/",{:target => "_blank"}
    , and 
    = link_to "Heroku", "http://heroku.com",{:target => "_blank"}
